<ion-content [fullscreen]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=REM:ital,wght@1,200&display=swap" rel="stylesheet">
  <div id="fondo">
    <div id="logo">
      <img src="assets/fake.png" alt="">
    </div>
    <div id="color">
      <form (ngSubmit)="login()">
        <div id="login">
          <input type="text" placeholder="Nombre de usuario" [(ngModel)]="usuario" name="usuario">
          <input type="password" placeholder="Ingrese Contraseña" [(ngModel)]="contrasena" name="contrasena">
        </div>
        <div id="enlace">
          <a [routerLink]="['/registro']">¿Eres nuevo? Regístrate</a>
        </div>
        <div id="boton">
          <ion-button type="submit" class="boton">Iniciar sesión</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
